@use "../../../styles/variables" as variable;

.logo {
  color: variable.$color-white;
  font-family: inherit;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  text-decoration: none;

  @media screen and (min-width: variable.$width-md) {
    font-size: 30px;
    line-height: 44px;
  }
}