@use "../../../styles/variables" as variable;

.login {
}

.login__container {
  padding-top: 140px;
}

.login__title {
  margin-bottom: 48px;
  text-align: center;
}

.login__input,
.login__btn {
  margin-bottom: 60px;
}

.login__error {
  color: variable.$color-orange;
  font-size: 18px;
  text-align: center;
}
