@use "../../styles/variables" as variable;

.catalog {
  padding-top: 48px;
  padding-bottom: 48px;
}

.catalog__search {
  width: 100%;
  margin-bottom: 48px;
  padding: 20px;
  color: variable.$color-gray-900;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  background-color: variable.$color-gray-100;
  border: 1px solid variable.$color-gray-100;
  border-radius: 4px;
}

.catalog__search::placeholder {
  color: variable.$color-gray-500;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: variable.$width-md) {
    justify-content: space-around;
  }
  @media screen and (min-width: variable.$width-lg) {
    justify-content: space-between;
  }
}