@use "./variables" as variable;

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.woff2") format("woff2"),
  url("../assets/fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Medium.woff2") format("woff2"),
  url("../assets/fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-SemiBold.woff2") format("woff2"),
  url("../assets/fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Bold.woff2") format("woff2"),
  url("../assets/fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-ExtraBold.woff2") format("woff2"),
  url("../assets/fonts/Jost-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.root {
  display: flex; // Прижимаем футер к низу страницы
  flex-direction: column;
  height: 100%;
  font-family: Jost, Arial, sans-serif;
  color: variable.$color-gray-900;

}

//.button {
//  display: block;
//  width: max-content;
//  padding: 20px 50px 20px 50px;
//  color: variable.$color-white;
//  font-family: inherit;
//  font-size: 16px;
//  font-weight: 400;
//  line-height: 22px;
//  background-color: variable.$color-orange;
//  border: 1px solid transparent;
//  border-radius: 4px 0 0 0;
//
//  &:hover {
//    background-color: variable.$color-orange-dark;
//    cursor: pointer;
//  }
//}

//.title {
//  margin-bottom: 48px;
//  color: variable.$color-gray-900;
//  font-size: 36px;
//  font-weight: 700;
//  line-height: 56px;
//  text-align: left;
//
//}
