@use "./variables" as variable;

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.woff2") format("woff2"),
  url("../assets/fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Medium.woff2") format("woff2"),
  url("../assets/fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-SemiBold.woff2") format("woff2"),
  url("../assets/fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Bold.woff2") format("woff2"),
  url("../assets/fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-ExtraBold.woff2") format("woff2"),
  url("../assets/fonts/Jost-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.root {
  display: flex; // Прижимаем футер к низу страницы
  flex-direction: column;
  height: 100%;
  font-family: Jost, Arial, sans-serif;
  color: variable.$color-gray-900;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
