$width-md: 768px;
$width-lg: 1440px;

$color-violet: #484283;
$color-white: #FFFFFF;
$color-orange:  #F14F4F;
$color-orange-dark: #8C2828;
$color-orange-white: #F8AFAF;
$color-gray-100:#F6F6F6;
$color-gray-200: #D5D5D5;
$color-gray-500: #B2B5BB;
$color-gray-600:#6D727B;
$color-gray-900:#444B58;






