@use "../../styles/variables" as variable;

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 776px;
  //padding: 20px 40px;
  //border: 1px solid variable.$color-gray-500;
  //border-radius: 4px;

  @media screen and (min-width: variable.$width-md) {
    padding: 20px 40px;
    border: 1px solid variable.$color-gray-500;
    border-radius: 4px;
  }
}