@use "../../../styles/variables" as variable;

.accordion-item {
  padding: 23px 0;
  border-bottom: 1px solid variable.$color-white;
}

.accordion-item__header-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 0;
  transition: margin-bottom 0.4s linear;

  &:hover {
    cursor: pointer;
  }

  &--margin {
    margin-bottom: 25px;
  }

  @media screen and (min-width: variable.$width-md) {
    gap: 0;
    justify-content: space-between;
  }
}

.accordion-item__header {
  color: variable.$color-white;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.accordion-item__button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  transition: transform 0.4s linear;
  cursor: pointer;

  &--open {
    transform: rotate(45deg);
  }
}

.accordion-item__content {
  max-height: 0;
  color: variable.$color-white;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  transition: max-height 0.4s linear;
  overflow: hidden;
}

.open {
  max-height: 500px;
}
