@use "../../../styles/variables" as variable;

// .input-wrap {

// }

.input {
  width: 100%;
  padding: 20px;
  color: variable.$color-gray-900;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  background-color: variable.$color-gray-100;
  border: none;
  border-radius: 4px;
}

input::placeholder {
  color: variable.$color-gray-500;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.input__error {
  padding: 10px 0;
  font-size: 14px;
  color: variable.$color-orange;
}
