@use "../../../styles/variables" as variable;

.catalog-item {
  position: relative;
  width: 100%;
  max-width: 370px;
  border: 1px solid variable.$color-gray-200;
  border-radius: 6px;

  @media screen and (min-width: variable.$width-md) {
    width: 370px;
    height: 370px;
  }
}

.catalog-item__link {
  display: block;
}

.catalog-item__img-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "Show details";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgba(variable.$color-white, 0.8);
    font-family: inherit;
    font-size: 26px;
    font-weight: 800;
    line-height: 37.57px;
    background-color: rgba(variable.$color-gray-200, 0.5);
    opacity: 0;
    transition: all 0.4s ease;
  }
}

.catalog-item:hover .catalog-item__img-wrap::after {
  opacity: 1;
}

.catalog-item:hover .catalog-item__img-wrap {
  box-shadow: 0 6px 10px 0 variable.$color-dark;
}

.catalog-item:hover .catalog-item__title {
  border-bottom: 1px solid variable.$color-gray-900;
}

.catalog-item__img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.catalog-item__text-wrap {
  position: relative;
  padding: 9px 10px;
  background-color: variable.$color-white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1;
}

.catalog-item__title {
  width: max-content;
  max-width: 290px;
  margin-bottom: 5px;
  color: variable.$color-gray-900;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.catalog-item__price {
  color: variable.$color-gray-900;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.catalog-item__control {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: variable.$color-white;
  z-index: 2;
}

.catalog-item__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 300px;
  transform: translate(-50%, -50%);
}
