@use "../../../styles/variables" as variable;

.faq {
  padding: 60px 0;
  background-color: variable.$color-violet;
}

.faq__container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: variable.$width-md) {
    max-width: 880px;
  }

  @media screen and (min-width: variable.$width-lg) {
    height: 388px;
  }
}

.faq__title {
  margin-bottom: 20px;
  color: variable.$color-white;
  text-transform: uppercase;
}