@use "../../styles/variables" as variable;

.login {
  color: variable.$color-white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.login-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid variable.$color-white;
  border-radius: 50%;
}