@use "../../styles/variables" as variable;

.not-found {
  padding: 100px 0;
  text-align: center;
}

.not-found__main {
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: 900;
  line-height: 1.2;
}

.not-found__link {
  color: variable.$color-gray-900;

  &:hover {
    text-decoration: underline;
  }
}